.button__back {
    margin: 15px;
    color: #41419e;
    font-size: 18px;
    }
.postCreate {
    color: #41419e;
    margin: 5px;
    padding: 5px;
}
/* .postCreate__section {
display: flex;

} */
label {
    margin-left: 10px;
   }
input {
    padding: 5px;
    display: block;
    margin-left: 10px;
    color:#41419e;
    border-color: #41419e;
    width: 100%;
    padding:10px;
    border:0;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 255, .2);
    border-radius:10px;
}
.postCreate__area_title {
     display: flex;
     justify-content: center;
}
.postCreate {
    margin: 10px;
    max-width: 400px;
}

.postCreate__error {
    color: rgb(145, 5, 5);
    text-align: right;
}
.postCreate__description {
  font-size: 14px;
}
.post__create {
margin-top: 15px;
padding: 5px;
margin: 5px;
box-shadow: 2px 2px 2px 2px rgba(0, 0, 255, .2);
border-color: #b2b2eb;
border-radius: 5px;
}
