.header__buttons {
    align-items: flex-end;
    margin-right: 20px;    
    /* overflow: hidden; */
    margin-left: 10px;
}
.header__buttons {
    margin-right: 10px;
    border-radius: 5px; 
    background-color: white;
    cursor: pointer;
}
