.footer {
    border: 2px solid transparent;
    border-top: ridge var(--main-color);
    margin-top: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_container p {
    font-size: 18px;
}