.button__back {
    padding: 10px;
}
.postPage__card {
    /* width: 200px; */
    position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	padding: 10px;
	border-radius: 10px;
    border: 1px ridge var(--main-color);
	margin: 20px;
}

.postPage__likes__count {
    background: none;
	border: none;
	padding: 0;
	top: 0;
	float: right;
}
.member__image {
    padding-top: 10px;
	
}
